body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #849d8f;
  background-position: top center;
  background-repeat: no-repeat;
}

.container, .header-container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.button {
  display: inline-block;
  margin: 20px 0 20px -4px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.input {
  max-height: 43px;
  flex-grow: 1;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.input-answer {
  max-height: 43px;
  flex-grow: 1;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.search-form input[type="search"] {
  width: 311px;
  max-height: 44px;
  margin: 19px 15px;
  padding: 20px 95px 20px 13px;
  color: #999999;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.modal-login input[type="text"], .modal-login input[type="password"] {
  margin: 5px 19px 3px;
  padding: 19px 64px 19px 13px;
  color: #999999;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.feedback input[type="text"] {
  margin: 5px 1px 3px;
  padding: 19px 69px 19px 13px;
  color: #999999;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.feedback input[type="text"]:hover,
.feedback input[type="email"]:hover,
.comment:hover,
.dispatch input[type="email"]:hover,
.search-form input[type="search"]:hover,
.modal-login input[type="text"]:hover,
.modal-login input[type="password"]:hover {
  border: 1px solid rgb(154, 154, 154);
}

.feedback input[type="text"]:active,
.feedback input[type="email"]:active,
.comment:active,
.dispatch input[type="email"]:active,
.search-form input[type="search"]:active,
.modal-login input[type="text"]:active,
.modal-login input[type="password"]:active {
  border: 1px solid rgb(46, 136, 228);
}

.modal-login input[type="email"] {
  margin: 35px 11px 35px 20px;
  padding: 20px 15px;
  color: #999999;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.dispatch input[type="email"] {
  margin: 36px 14px 35px 21px;
  padding: 22px 14px 21px;
  color: #999999;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
}

.feedback input[type="email"] {
  margin: 5px 0 10px 1px;
  padding: 20px 70px 20px 13px;
  color: #999999;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.search-form {
  position: fixed;
  z-index: 2;
  display: flex;
  width: 342px;
  margin-top: 3px;
  margin-left: -307px;
  padding: 0;
  background-color: #f8f7f4;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.user-list>li {
  position: relative;
  display: inline-block;
  margin: 5px 0 0 10px;
  vertical-align: middle;
}

.user-list .search-form {
  position: absolute;
  display: none;
  overflow: hidden;
}

.user-list>:hover .search-form {
  display: block;
}

.modal-login {
  width: 278px;
  position: fixed;
  z-index: 1;
  margin-top: 5px;
  margin-left: -185px;
  background-color: #f8f7f4;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.user-list .modal-login {
  position: absolute;
  display: none;
  overflow: hidden;
}

.user-list>:hover .modal-login {
  display: block;
}

.search {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.search-link svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

.search-link:hover, .search-link:focus, .search-link:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.login-wrapper {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 20px;
  font-weight: normal;
}

.login-wrapper button {
  margin-top: 3px;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.login-help {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 12px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.login-help .link {
  padding: 0 0 0 6px;
  color: #676766;
  text-decoration: underline;
}

.login, .basket {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.login-link svg, .basket-link svg {
  position: absolute;
  top: 7px;
  left: 18px;
}

.login-link span, .basket-link span {
  padding-left: 28px;
}

.login-link:hover, .login-link:focus, .login-link:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 20px;
}

.basket .basket-catalog-link {
  position: relative;
  padding-left: 45px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 20px;
}

.basket-catalog-link::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: 8px;
  left: 15px;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket table {
  padding: 10px 0;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 13px;
  line-height: 16px;
}

.col-name {
  width: 216px;
  height: 15px;
  margin: 0;
  font-weight: normal;
}

.col-item img {
  max-width: 34px;
  max-height: 34px;
  margin-right: 12px;
  border-radius: 50%;
}

.basket-table .col-item {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-left: 15px;
  padding-top: 19px;
}

.col-item .modal-close {
  top: 15px;
  right: 270px;
}

.basket-table .col-quantity {
  width: 25%;
  padding-top: 19px;
  padding-left: 15px;
  padding-right: 0;
}

.basket-table .col-price {
  width: 16%;
  padding-top: 19px;
  padding-left: 3px;
}

.total-price {
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.total-price::before {
  content: " ";
  position: absolute;
  width: 510px;
  height: 2px;
  top: 1px;
  left: -390px;
  background-color: #cacac7;
  border-radius: 20px;
}

.modal-basket .button {
  margin: 0 13px 21px auto;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.basket-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-basket {
  display: none;
  width: 540px;
  z-index: 10;
  margin-left: -422px;
  margin-top: 4px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  color: #6b6a69;
  font-weight: normal;
}

.user-list .modal-basket {
  position: absolute;
  overflow: hidden;
}

.user-list>:hover .modal-basket {
  display: block;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 27px;
}

.header svg {
  fill: currentColor;
}

.site-navigation {
  display: flex;
  flex-basis: 75%;
  margin-top: 10px;
  list-style: none;
}

.header-logo {
  width: 158px;
  max-height: 70px;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  margin: 13px 5px;
  padding: 0;
  list-style: none;
}

.site-list>li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

ul .catalog-menu {
  margin-right: 0;
}

.site-list .catalog-menu {
  position: absolute;
  z-index: 6;
  min-width: 145px;
  left: -10px;
  top: 40px;
  margin: 0;
  padding: 0 0 10px 0;
  visibility: hidden;
  list-style: none;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.catalog-menu .link-menu {
  margin: 0;
  padding: 10px 21px 5px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-decoration: none;
}

.catalog-menu span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.catalog-menu span::before {
  content: "";
  position: absolute;
  top: 37px;
  left: 9px;
  width: 128px;
  height: 1px;
  background-color: #323232;
}

.site-list>:hover .catalog-menu {
  visibility: visible;
}

.site-list .button {
  margin: 0;
  padding: 10px 15px;
}

.site-list a, .search a {
  display: block;
  padding: 7px 14px 8px 14px;
}

.site-list .link {
  text-decoration-line: underline;
}

.site-list a:hover, .site-list a:focus {
  background-color: #ffffff;
  border-radius: 20px;
  color: #323232;
  font-weight: bold;
  text-decoration: none;
}

.site-list a:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  border-radius: 20px;
  color: #323232;
  text-decoration: none;
}

.site-list-current {
  background-color: #d07058;
  color: #ffffff;
  border-radius: 20px;
  font-weight: bold;
}

.page-catalog .site-list-current:hover, .page-catalog .site-list-current:focus, .page-catalog .site-list-current:active {
  background-color: #d07058;
  color: #ffffff;
}

.catalog-menu a:hover {
  background-color: #fbded7;
  color: #323232;
  border-radius: 0;
  font-weight: normal;
}

.catalog-menu a:focus {
  background-color: #f6b5a5;
  color: #323232;
  border-radius: 0;
  font-weight: normal;
}

.catalog-menu a:active {
  background-color: #d07058;
  color: #ffffff;
  border-radius: 0;
  font-weight: normal;
}

.catalog-menu {
  list-style: none;
}

.user-navigation {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  margin-left: auto;
  list-style: none;
}

.user-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.login-link, .basket-link, .basket-catalog-link {
  display: block;
  padding: 9px 16px 9px 17px;
}

.search a {
  padding: 18px;
}

.time-work {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  margin-left: auto;
  align-items: flex-end;
}

.time {
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.link-tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before, .site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.slider {
  position: relative;
  margin: 0 27px;
  padding-top: 274px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
}

.slider-list .button {
  display: inline-block;
  margin: 32px 0;
  padding: 8px 40px 11px;
  vertical-align: baseline;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.slider-list a {
  color: #ffffff;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 55px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slide {
  display: none;
}

.product-1:checked~.site-wrapper #slide1,
.product-2:checked~.site-wrapper #slide2,
.product-3:checked~.site-wrapper #slide3 {
  display: block;
}

.product-1:checked~.site-wrapper label[for="product-1"],
.product-2:checked~.site-wrapper label[for="product-2"],
.product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

.product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

.product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.hot-offers {
  display: flex;
  margin: 8px 27px;
}

.offers-card {
  display: flex;
  flex-direction: column;
  flex-basis: 49%;
}

.offers-card.rb {
  margin-right: 25px;
  background-color: #6e2b3b;
  background-image: url("../img/rb.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.offers-card.choco {
  background-color: #8d6c5f;
  background-image: url("../img/choco.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.offers-item {
  margin: 0;
  padding: 16px 18px;
}

.offers-card a {
  margin: 45px 20px 22px auto;
  padding: 9px 22px 12px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.rb a {
  margin: 46px 20px 24px auto;
  padding: 10px 24px;
}

.offers-card h3 {
  position: relative;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.suggestion {
  margin: 0 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 34px 14px 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  list-style: none;
}

.catalog-icecream {
  position: relative;
  max-width: 267px;
  flex-basis: 25%;
  display: flex;
  flex-direction: column-reverse;
  padding: 6px 13px 0;
}

.catalog-hit::before {
  content: "";
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 61px;
  height: 61px;
  left: 13px;
  top: 5px;
  z-index: 1;
}

.catalog-icecream-price {
  position: absolute;
  left: 11px;
  top: 215px;
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.catalog-icecream-price b::before {
  content: "";
  position: absolute;
  left: 82px;
  top: 6px;
  width: 77px;
  height: 39px;
  background-image: url("../img/price.png");
  background-repeat: no-repeat;
}

.catalog-icecream-price span {
  position: relative;
  padding-left: 40px;
  font-size: 24px;
  line-height: 28px;
}

.icecream-description {
  display: flex;
  flex-direction: column-reverse;
  margin: 13px 6px 0 5px;
  padding: 0;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration-line: underline;
}

.catalog-icecream a .link {
  padding: 0;
  margin: 0;
}

.catalog img, .catalog-list img {
  border-radius: 50%;
  margin: 0;
}

.catalog-icecream-image {
  margin: 0;
  padding: 0;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px 14px;
  padding-left: 0;
}

.catalog-list .catalog-icecream {
  margin-bottom: 33px;
}

.catalog-icecream .button {
  display: none;
  position: relative;
  margin: 8px 48px 20px 48px;
  padding: 10px 0 12px;
  font-size: 18px;
  line-height: 24px;
}

.catalog-icecream:hover a {
  position: relative;
  display: flex;
  justify-content: center;
}

.action {
  width: 293px;
  position: absolute;
  right: 0;
  margin-top: 74px;
  z-index: 3;
  background-color: rgb(255, 255, 255, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.catalog-icecream:hover {
  background-color: rgb(255, 255, 255, 0.4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.shop {
  margin: 38px 27px 40px;
  background-color: #e8dbbc;
  background-image: url("../img/wafer.png");
  border-radius: 10px;
  background-position: top center;
  background-repeat: repeat;
}

.shop-title {
  margin: 0;
  padding: 25px 0 21px 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.shop-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding-right: 23px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #323232;
  list-style: none;
}

.shop-feature {
  position: relative;
  max-width: 480px;
  margin: 0 0 25px 10px;
  padding-left: 25px;
}

.shop-feature svg {
  position: absolute;
  left: -32px;
  top: -13px;
}

.news {
  min-width: 560px;
  min-height: 211px;
  display: flex;
  flex-direction: column;
  flex-basis: 49%;
  margin-right: 27px;
  background-color: #ffffff;
  background-image: url("../img/strawberry.png");
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #323232;
}

.news-blog {
  margin: 24px 0 4px 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.news a {
  width: 300px;
  margin: 0 0 10px 20px;
  color: #323232;
  text-decoration: underline;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.form-dispatch {
  flex-basis: 49%;
  min-height: 210px;
  background: no-repeat #f8f7f4;
  border: 4px solid;
  border-image-source: url("../img/candy-border.png");
  border-image-slice: 10;
  background-size: contain;
  border-radius: 10px;
}

.dispatch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.email {
  margin: 31px 20px 0 22px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #5a5a5a;
}

.dispatch button {
  margin: 36px 22px 36px auto;
  padding: 4px 18px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts {
  position: relative;
  display: flex;
  margin: 39px 0 80px 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #323232;
}

.contacts iframe {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 430px;
  border: 0;
}

.contacts img {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 430px;
}

.contacts svg {
  position: absolute;
  z-index: 4;
  top: 138px;
  left: 266px;
}

.direction-wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.direction {
  width: 300px;
  z-index: 5;
  display: inline-block;
  margin: 62px 26px 0 auto;
  vertical-align: middle;
  color: #323232;
  background-color: #f8f7f4;
  border: 1px solid #cccccc;
  border-radius: 15px;
}

.add-description {
  margin: 28px 125px 3px 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.add {
  margin: 0 55px 0 23px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.tl {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 16px 23px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.direction .button {
  margin: 10px 23px 30px;
  padding: 8px 28px 12px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.direction .link {
  margin-top: 6px;
  color: #323232;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.modal-direction {
  position: fixed;
  z-index: 7;
  left: 30%;
  top: 10%;
  width: 480px;
  min-height: 443px;
  background-color: #f8f7f4;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: none;
}

.modal-show {
  display: block;
  animation: fadeInDown 0.6s;
}

.modal-error {
  animation: trambling-animation 0.6s;
}

.feedback p {
  margin: 0;
  padding: 14px 26px 0;
}

.answer {
  margin: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.feedback {
  display: flex;
  flex-direction: column;
}

.comment {
  width: 435px;
  min-height: 154px;
  margin: 0;
  padding: 5px 13px;
  color: #999999;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.modal-direction .button {
  margin: 17px 23px 0 auto;
  padding: 10px 23px;
  font-size: 18px;
  line-height: 24px;
}

.modal-close, .form-close {
  position: absolute;
  top: 0;
  right: 10px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.form-close::before, .form-close::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 2px;
  width: 18px;
  height: 1px;
  background-color: #323232;
}

.modal-close::before, .modal-close::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 2px;
  width: 14px;
  height: 1px;
  background-color: #323232;
}

.modal-close::before, .form-close::before {
  transform: rotate(45deg);
}

.modal-close::after, .form-close::after {
  transform: rotate(-45deg);
}

.footer-container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.footer-social {
  min-width: 186px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 19px;
  margin-left: 27px;
  padding: 0;
  list-style: none;
}

.social-button {
  min-width: 34px;
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover {
  border: 2px solid rgb(255, 255, 255, 0.7);
}

.social-button:active,
.social-button:hover {
  border: 2px solid rgb(255, 255, 255, 0.7);
}

.social-button svg {
  opacity: 0.8;
}

.social-button:hover svg {
  opacity: 1;
}

.social-button:active svg {
  opacity: 0.1;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.extra-info {
  min-width: 335px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 11px;
  margin-left: auto;
  padding-left: 38px;
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  text-decoration-line: underline;
}

.extra-info li {
  position: relative;
  margin-top: 5px;
}

.extra-info a:hover,
.extra-info a:active {
  color: #ffbc9e;
}

.extra-info ul {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 0;
  padding-left: 0;
  list-style: none;
}

.extra-info svg {
  position: absolute;
  width: 18px;
  height: 15px;
  top: 1px;
  left: -25px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  margin: 0 23px 0 auto;
}

.footer-copyright a {
  margin: 0;
}

.footer-copyright span {
  display: inline-block;
  vertical-align: middle;
  text-decoration-line: underline;
}

.footer-copyright span:hover,
.footer-copyright span:active {
  color: #ffbc9e;
}

.page-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-basis: 100%;
  margin-top: -20px;
}

.breadcrumbs-wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 42px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.breadcrumbs-current {
  position: relative;
  padding-left: 22px;
  padding-right: 18px;
}

.breadcrumbs-link {
  text-decoration: underline;
}

.breadcrumbs-current::before {
  content: "≫";
  position: absolute;
  top: 0;
  right: 4px;
}

.breadcrumbs-current::after {
  content: "≫";
  position: absolute;
  top: 0;
  left: 7px;
}

.page-title {
  margin-top: 4px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 46px;
  margin-bottom: 48px;
  padding: 0 25px;
  list-style: none;
}

.pagination-item a {
  display: flex;
  padding: 5px 10px;
  text-decoration: none;
}

.active {
  width: 8px;
  height: 18px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.pagination .next {
  width: 5px;
  height: 15px;
  background-image: url("../img/icon-right-small.svg");
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 15px 8px;
}

.pagination .back {
  width: 5px;
  height: 15px;
  background-image: url("../img/icon-right-small.svg");
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 14px 5px;
  transform: rotate(180deg);
}

.pagination a:hover:not(.active):not(.next):not(.back) {
  background-color: #9db1a5;
  border-radius: 50%;
}

.pagination a:focus:not(.active):not(.next):not(.back) {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.filters {
  width: 879px;
  display: flex;
  padding-bottom: 13px;
  padding-left: 25px;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.filters p {
  margin: 0;
  padding: 3px 18px 7px;
}

.sorting {
  display: flex;
  flex-direction: column;
  margin: 0 13px 0 0;
  position: relative;
  overflow: hidden;
}

.filter-sorting {
  width: 181px;
  background-color: #abbcb2;
  border-radius: 20px;
  overflow: hidden;
}

.filter-sorting select {
  width: 220px;
  height: 36px;
  padding: 0 0 2px 0;
  background-color: #abbcb2;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  border: none;
}

.sorting p {
  position: relative;
}

.filter-sorting svg {
  position: absolute;
  right: 13px;
  top: 38px;
  margin: auto;
  fill: currentColor;
  pointer-events: none;
}

.filter-sorting:hover select, .filter-sorting:hover svg {
  color: #323232;
}

.filter-sorting:active select {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.filter-fat {
  padding: 9px 16px 10px 28px;
  background-color: #abbcb2;
  border-radius: 20px;
  font-size: 16px;
  line-height: 18px;
}

.fat p {
  padding: 3px 15px 7px;
}

.filter-fat label {
  position: relative;
  padding: 0 0 0 17px;
  cursor: pointer;
}

.filter-fat label:not(:last-child) {
  padding-right: 29px;
}

.filter-fat label:last-child {
  padding-right: 0;
}

.fat-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -16px;
  top: -2px;
  width: 16px;
  height: 16px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.fat-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 4px;
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: #ffffff;
}

.filler-input-checkbox:focus+label, .fat-input-checkbox:focus+label {
  outline: 1px solid;
}

.filler-input-checkbox:hover+label, .fat-input-checkbox:hover+label {
  color: #ffffff;
}

.filler-input-checkbox:disabled+label, .fat-input-checkbox:disabled+label {
  opacity: 0.4;
}

.filter-filler {
  padding: 10px 20px 10px 25px;
  background-color: #abbcb2;
  border-radius: 20px;
  font-size: 16px;
  line-height: 18px;
}

.filler p {
  margin: 7px 0 0 0;
  padding: 7.5px 17px 6px 17px;
}

.filter-filler label {
  position: relative;
  cursor: pointer;
  padding: 0 25px;
}

.filter-filler label:last-child {
  padding-right: 0;
}

.filler-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -8px;
  top: -2px;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.filler-input-checkbox:checked+label::before {
  display: none;
}

.filler-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 20px;
  left: -8.5px;
  top: -1px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-button {
  margin: 36px 18px 0 auto;
  padding: 8px 27px 7px 27px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
}

.filter-button:hover {
  color: #323232;
  background-color: #ffffff;
  border: 0;
}

.filter-button:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  color: #323232;
  border: 0;
}

.price {
  position: relative;
  margin: 0;
  padding: 0 15px 0 0;
  font-weight: bold;
}

.price-input {
  border: none;
  background-color: #849d8f;
  color: #ffffff;
  width: 27px;
  padding: 0 0 0 8px;
  margin: 0;
}

.filter-price {
  width: 220px;
  height: 35px;
  margin-left: 4px;
  background-color: #abbcb2;
  border-radius: 20px;
}

.range-from svg {
  position: absolute;
  left: 39px;
  top: 35px;
  cursor: pointer;
}

.range-before svg {
  position: absolute;
  left: 136px;
  top: 35px;
  cursor: pointer;
}

.filter-price::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 4px;
  background: #ffffff;
  top: 43px;
  left: 24px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    left: 50%;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes trambling-animation {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }

  10%, 30% {
    transform: rotate(-10deg);
  }

  20%, 40% {
    transform: rotate(10deg);
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .rb a {
    margin-left: 370px;
  }

  .offers-card a {
    margin-left: 345px;
  }

  .modal-direction .button {
    margin: 17px 23px 0 320px;
  }

  .feedback input[type='text'] {
    padding: 12px 69px 19px 13px;
  }

  .feedback input[type='email'] {
    padding: 12px 70px 20px 13px;
  }

  .search-form input[type='search'] {
    padding: 12px 95px 20px 13px;
  }

  .modal-login input[type='text'], .modal-login input[type='password'] {
    padding: 12px 64px 19px 13px;
  }

  .search-form {
    width: 370px;
  }

  .modal-login {
    width: 320px;
  }

  .filter-sorting select {
    border: none;
  }

  .modal-basket .button {
    margin: 0 13px 21px 350px;
  }

  .total-price {
    margin-left: 402px;
  }

  .basket table {
    margin-left: 40px;
  }

  .col-name {
    width: 230px;
  }

  .action {
    margin-top: 0;
    background-image: url("../img/shape.png");
    background-size: cover;
  }

  .catalog-icecream:hover {
    background-image: url("../img/shape.png");
    background-size: cover;
  }

  .social-button {
    min-width: 33px;
    min-height: 33px;
    border: 2px solid #ffffff;
  }
}

@-moz-document url-prefix() {
  .action {
    bottom: -74px;
  }
}

@supports (-ms-ime-align:auto) {
  .filter-sorting select {
    border: none;
  }

  .action {
    bottom: -74px;
    background-image: url("../img/shape.png");
    background-size: cover;
  }

  .catalog-icecream:hover {
    background-image: url("../img/shape.png");
    background-size: cover;
  }

  .modal-login {
    width: 300px;
  }

  .social-button {
    min-width: 33px;
    min-height: 33px;
    border: 2px solid #ffffff;
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .modal-login {
    width: 300px;
  }

  .filter-sorting select {
    direction: inherit;
    -webkit-apperence: none;
  }
}
